/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --main-text-color: #000;
    --bg-color: #FFF;
    --hover-text-color:#FFF;
    --color-light-theme-line: #d3d3d3;
    --color-dark-theme-line: #000;
    --color-light-gradient-start: #e7e7e7;
    --color-light-gradient-end: #1a1a1a;
    --color-dark-gradient-start: #007f0c;
    --color-dark-gradient-end: #004306;
    --btn-text-color: #FFF;
    --spark-color: #FF0000;
    
}

:root.theme-dark {
    --main-font-weight: 465;
    --accent-font-weight: 785;
    --main-text-color: #00CC14;
    --bg-color: #000;
    --hover-text-color: #000;
    --color-light-theme-line: #000;
    --color-dark-theme-line: #000;
    --color-light-gradient-start: #007f0c;
    --color-light-gradient-end: #004306;
    --btn-text-color: #00CC14;
    --spark-color: #FF0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-weight: 465;
        --accent-font-weight: 785;
        --main-text-color: #00CC14;
        --bg-color: #000;
        --hover-text-color: #000;
        --color-light-theme-line: #000;
        --color-dark-theme-line: #000;
        --color-light-gradient-start: #007f0c;
        --color-light-gradient-end: #004306;
        --btn-text-color: #00CC14;
        --spark-color: #FF0000;
    }
}